<!DOCTYPE html>
<html lang="en">
<head>
  <title>welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/back/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/back/js/bootstrap.min.js"></script>
  <script src="/static/back/js/jquery-3.1.1.min.js"></script>
  <script src="/static/back/js/myscript.js"></script>

</head>
<body>
  <div class="row">
  <div class="col-md-12">{% include "header.html" %}</div>
  </div>
  <!-- <script type="text/javascript">

function submitdata()
{
 var name=document.getElementById( "name" );
 var email=document.getElementById( "email" );
 var phone=document.getElementById( "phone" );

 $.ajax({
  type: "POST",
  url: '/patientsub/',
  // data: {
  //  name:name,
  //  email:email,
  //  phone:phone
  // },
  data : { the_post : $('name', 'email', 'phone').val() }
}).done(function(returned_data){

        // This is the ajax.done() method, where you can fire events after the ajax method is complete

        // For instance, you could hide/display your add/remove button here

    });
}

</script> -->



<div class="row">
  <div class="col-md-6">
    <center>
      <h1>Patient Register</h1>
      <form method="post" name="patient" id="patient">



      <div class="form-group" style="padding-top:50px;">
      <label for="name">Name: </label><input type="text" name="name" class="form-control" style="width:200px;" id="name" /> <br />

      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" style="width:200px;" id="email" />
      </div>
      <label for="phone">Phone: </label><input type="text" name="phone" class="form-control" style="width:200px;" id="phone" /> <br />
      <!-- <input type="submit" value="Register" class="btn btn-primary" style="width:200px;" name="submit"/> -->
      <input type="button" value="Register" id="submit" />
      </form>

    </center>
  </div>


  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <!-- <script>
  // //For getting CSRF token
  // function getCookie(name) {
  //     var cookieValue = null;
  //     if (document.cookie && document.cookie != '') {
  //         var cookies = document.cookie.split(';');
  //         for (var i = 0; i < cookies.length; i++) {
  //             var cookie = jQuery.trim(cookies[i]);
  //             // Does this cookie string begin with the name we want?
  //             if (cookie.substring(0, name.length + 1) == (name + '=')) {
  //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
  //                 break;
  //             }
  //         }
  //     }
  //     return cookieValue;
  // }
  //For doing AJAX post
   $("#submit").click(function(e) {
      e.preventDefault();
      var csrftoken = getCookie('csrftoken');
      var name = $('#name').val();
      var email = $('#email').val();
      var phone = $('#phone').val();
  //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post

   $.ajax({
   url :  window.location.href, // the endpoint,commonly same url
   type : "POST", // http method
   data : { csrfmiddlewaretoken : csrftoken,
   name : name,
   email : email,
   phone : phone
   }, // data sent with the post request
          // handle a successful response
          success : function(json) {
              console.log(json); // another sanity check
              alert('Hi   '+json['name'] +'!.' + '  You are registered']);
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
  });
      </script> -->







  <div class="col-md-6">
    <center>
      <h1>Doctor Register</h1>
      <form method="post" name="doctor" id="doctor">



      <div class="form-group" style="padding-top:50px;">
      <label for="name">Name: </label><input type="text" name="name" class="form-control" style="width:200px;" id="named" /> <br />

      <label for="designation">Designation:</label> <input type="text" name="designation" class="form-control" style="width:200px;" id="designation" /> </div>
      <input type="button" value="Register" id="submitd" />
      </form>
      </div>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <center>
      <h1>Appointment Creation</h1>
      <form method="post" >



      <div class="form-group" style="padding-top:50px;">

      <label for="patientname">Patient</label><select name="patientname" class="form-control" style="width:200px;" id="patientname"></select><br /><br />
      </div>
      <label for="dctr">Doctor</label><select name="dctr" class="form-control" style="width:200px;" id="dctr"></select><br /><br />
      <input type="button" value="Create Appoinment" class="btn btn-primary" style="width:200px;" id="submiap" />
      </form>

    </center>
  </div>
  <div class="col-md-6">
    <center>
      <h1>appoitment</h1>
    <form id="apttable">
      <table class="table table-hover">
       <thead>
       <th>Patient Name</th>

       <th>Doctor</th>

       </thead>

       <tbody id="tdata">

       </tbody>


   </table>
    </form>


    {{ currentUrl }}
   </center>
  </div>
</div>

</body>
</html>
