<!DOCTYPE html>
<html lang="en">
<head>
  <title>patientlist</title>

</head>


<body>

  {% block content %}

  {% endblock %}
  <h1>patientlist</h1>






  <table>
    {% for b in obj %}

    <tr>
        <td>Id</td>
        <td><strong><p>{{ b.id }}</p></strong></td>
    </tr>
      <tr>
          <td>Name</td>
          <td><strong><p>{{ b.name }}</p></strong></td>
      </tr>
      <tr>
          <td>Email</td>
          <td><strong><p>{{ b.email }}</p></strong></td>
      </tr>
      <tr>
          <td>Phone</td>
          <td><strong><p>{{ b.phone }}</p></strong></td>
      </tr>
      {% endfor %}

  </table>


{{ currentUrl }}

</body>
</html>
